.name {
    font-family: Pacifico, monospace, sans-serif;
    font-size: 2rem;
}

.readable {
    font-size: 1.8rem;
}

.big {
    font-size: 7rem;
}

.medium {
    font-size: 4rem;
}

.img-container {
    z-index: -1;
}

#coffee {
    height: 700px;
}

.about-us {
    width: 600px;
    font-family: monospace, sans-serif;
}

.text {
    width: 80vw;
}

@media (max-width: 576px) {
    .text {
        width: 100vw;
    }

    .about-us {
        background-color: rgba(119, 117, 117, 0.5);
    }
}

.card {
    width: 18rem;
    height: 36rem;
}

.card img {
    height: 350px;
    object-fit: cover;
}

.contact-container img {
    height: 400px;
    object-fit: cover;
}

.icons i {
    cursor: pointer;
    margin: 50px;
    font-size: 2rem;
}

.icons i:nth-of-type(2) {
    color: #3b5998;
}

.icons i:nth-of-type(1) {
    color: #55acee;
}

.icons i:nth-of-type(3) {
    color: #ac2bac;
}

.icons i:nth-of-type(4) {
    color: #0082ca;
}

.shadow {
    text-shadow: 3px 3px white;
}

